
#banner {
  flex-direction: column;
  min-width: 300px !important;

  a {
    margin-top: 10px;
  }

  .banner-left {
    margin: 0;
    margin-bottom: 10px;
  }

  .banner-right {
    margin: 0;
    margin-top: 10px;
  }
}

.card-link {
  width: 90% !important;
  margin: 5%;
}

#content {
  padding: 10px;
  min-width: 300px !important;

}

#main-footer, #social-list {
  display: flex;
  flex-direction: column !important;
  text-align: center !important;
}

#social-list {
  a {
    padding: 0 !important;
    margin: auto !important;
    margin-bottom: 20px !important;
  }
}
