{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:image" content="{{ article.image }}" />
{% endblock opengraph %}

{% block title %}
    {{ article.title}}
{% endblock title %}


{% block style %}

{% endblock style %}

{% block content %}
<div id="article-info">
  <img src="{{ article.image }}" class="img-responsive" alt="{{article.title}}" />
  <h2>{{article.title}}</h2>
  <h4>{{article.locale_date}}</h4>
  <h4>{% for a in article.authors %}{{a}}{% endfor %}</h4>
</div>
  <p>{{article.content}}</p>
{% endblock content %}
