{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Blog{% endblock title %}

{% block polymer_imports %}
  <link rel="import" href="/lib/home-article.html">
{% endblock polymer_imports %}

{% block content %}
      <div id="post-list">
        <h1>Articles du blog</h1>
        {% for article in articles_page.object_list if article.category == 'articles' %}
        <a class="card-link" href="{{ SITEURL }}/{{ article.url }}">
          <div class="card">
            <div class="card-image">
              <img src="{{article.image}}" class="img-responsive" />
            </div>
            <div class="card-header">
              <h4 class="card-title">{{article.title}}</h4>
              <h6 class="card-subtitle">{{ article.locale_date}}</h6>
            </div>
          </div>
        </a>
        {% endfor %}

          <div id="paginator">
              {% if articles_page.has_other_pages() %}
                  {% if DEFAULT_PAGINATION %}
                      <p class="paginator">
                          {% if articles_page.has_previous() %}
                              <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><<</a>
                          {% endif %}
                          <span>
                              Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
                          </span>
                          {% if articles_page.has_next() %}
                              <a href="{{ SITEURL }}/{{ articles_next_page.url }}">>></a>
                          {% endif %}
                      </p>
                  {% endif %}
              {% endif %}
          </div>
      </div>
{% endblock content %}
