{% extends "base.html" %}

{% block content %}
  <h1>Bienvenue !</h1>
  <p>Je m'appelle <b>Luc Libralesso</b>. Je suis étudiant en informatique/Mathématiques (Master 2 en Recherche Opérationnelle et optimisation Combinatoire).</p>
  <p>Sur ce site, je partage mes dernières découvertes/expériences, principalement a propos d'algorithmique, de génération procédurale et de développement.</p>



  <div id="home">
    <h1>Derniers articles ou expériences</h1>
    <div id="post-list">
        {% for article in articles_page.object_list %}
            {% if loop.index <= 2 %}
            <a class="card-link" href="{{ SITEURL }}/{{ article.url }}">
              <div class="card">
                <div class="card-image">
                  <img src="{{article.image}}" class="img-responsive" />
                </div>
                <div class="card-header">
                  <h4 class="card-title">{{article.title}}</h4>
                  <h6 class="card-subtitle">{{ article.locale_date}}</h6>
                </div>
              </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
  </div>


{% endblock content %}
